<header>
    <nav class="nav-top-bar">

        <div class="title">
            <a href="/">
                <h1>Bustassum</h1>
            </a>
        </div>

        <div class="show-for-small-up user-login">
        {{?it.user}}
            <div class="balance-bits">
                <span>보유머니 : </span>
                <span class="balance" id="balance_bits">{{#def.format:{n: it.user.balance_satoshis, decimals:0} }} KRW</span>
            </div>
            <div class="username">
                <a href="/account">{{=it.user.username}}</a>
            </div>
        {{??}}
            <div class="register">
                <a href="/register">회원가입</a>
            </div>
            <div class="login">
                <a href="/login">로그인</a>
            </div>
        {{?}}
        </div>

        <div style="margin-top:2px;text-align:left;color:#e58929;font-size:20px;" class="menu">

            <ul class="nav-list">
                
                <li class="nav-item"><a style="color:#e58929;" href="/play">게임</a>&nbsp;&nbsp;&nbsp;&nbsp;<!-- <a style="color:#e58929;" href="/leaderboard">랭킹</a>&nbsp;&nbsp;&nbsp;&nbsp; --><a style="color:#e58929;" href="/deposit">충전</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#e58929;" href="/withdraw">환전</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#e58929;" href="/support">고객센터</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#e58929;" href="/faq">가이드</a>

            </ul>
        </div>

    </nav>
</header>