{{##def.page_title = 'Notice' #}}

{{##def.content:
<div class="row faq panel radius">
                     
                        <div class="my-account-nav">
                            <ul class="side-nav">
                                <li><a href="#how-to-use">이용규정</a>
                                </li>
                                <li><a href="#deposit">충전과 환전</a>
                                </li>
                                <li><a href="#blackuser">블랙유저</a>
                                </li>
                                <li><a href="#fakesite">사칭사이트</a>
                                </li>
                                <li><a href="#beagent">총판모집</a>
                                </li>
                            </ul>
                        </div>
                    <div class="my-account-content" style="line-height: 1.8em;color:dimgray">
                         <h3 id="basics">이용규정</h3>  <b><a name="how-to-use"></a></b> 
                        <br>♡ 캐시 관리 ♡
                        <br>
                        <br>1. 입금
                        <br>
                        <br>-입금전 계좌변경 유무 확인
                        <br>(고객센터로 계좌문의를 꼭 해주신후 입금신청 바랍니다.)
                        <br>- 가입 시 등록한 계좌명과 입금자명이 같을 시 충전처리 가능
                        <br>- 수표입금 시 충전처리 불가 (24시간 후 반송)
                        <br>- 충전 최소 금액은 1만원 이상 천원 단위로 가능
                        <br>- 회원님 전용계좌 ATM 입금에 제한이발생될수 있습니다.
                        <br>- 토스 및 기타 어플 은 송금이 거부 될 수 있습니다.
                        <br>
                        <br>2. 출금 
                        <br>
                        <br>- 가입 시 등록한 본인 명의의 계좌로만 송금가능 
                        <br>- 환전 최소 금액은 1만원 이상 만원 단위로 가능 
                        <br>- 충전 한 금액 300% 베팅 시 출금가능 
                        <br>- 1일 3회 / 3시간에 한번씩 환전 가능 
                        <br>[1회 최대 환전금액 300만원] [1일 최대 환전금액 1500만원]
                        <br>
                        <br>
                        <br>♡ 운영 방침 ♡
                        <br>
                        <br>1.오류에 의한 손실
                        <br>
                        <br>- 서버등 <span id="site"></span>의 문제로 인한 손실은 전액 보상
                        <br>- 개인의 문제로 인한 손실은 보상 불가
                        <br>예 ) 네트워크의 불안정으로 인한 끊김 현상등
                        <br>
                        <br>2.변경 전 계좌에 송금
                        <br>
                        <br>- 해당계좌를 보유하고 있을 시 확인 후 충전처리
                        <br>- 해당계좌를 보유하지 않고 폐기 했을 시 충전처리 불가
                        <br>( 예금주명이 같아도 은행명이 다를 수 있으니 주의 바랍니다. )
                        <br>♡ 제재 대상 회원 ♡
                        <br>
                        <br>1.계정 정지
                        <br>
                        <br>- 채팅 창에 심한 욕설 및 허위 비방글 게시
                        <br>- 채팅 창에 홍보 및 도배글 게시
                        <br>- 채팅 창에 구걸하는 글 게시
                        <br>- 반복된 포인트 요구
                        <br>- 반복된 허위충전
                        <br>
                        <br>2.영구 계정 정지
                        <br>
                        <br>- 시스템을 악용하여 운영을 방해하는 회원
                        <br>(스크립트 등 기타 자동 프로그램 허용)
                        <br>- 3회이상 계정이 정지된 회원
                        <br>
                        <br>
                        <br>
                         <h3>충전과 환전</h3>  <a name="deposit"></a>  <b>충전</b>
                        <br>* 회사 시스템상 충전의 경우 최소금액 10,000원 이상부터 신청이 가능합니다. 
                        <br>* 고객님들께서는 선입금 후 꼭 충전신청을 해주시면 보다 빠르게 처리가 되십니다. 
                        <br>* 입금 전 항상 고객센터로 먼저 를 문의 주시고 계좌를 확인해주시기 바랍니다. 
                        <br>고객님들의 안전과 보안을 위해 수시로 가상계좌가 변경되기 때문에 간혹 폐기된 계좌로 입금을 하게 되시면저희 회사에서도 확인이 불가능한 부분은 처리가 불가하오니 이 점 꼭 유의해주시기 바랍니다. 
                        <br>* 저희 회사는 보안상 수표를 통한 입금 및 가입 당시 등록하신 예금주가 본인 명의가 아닌 타명의로 입금시에도 충전처리가 되지 않으니고객님들께서는 이 점 참고해 주시기 바랍니다. 
                        <br>* 간혹 충전처리가 완료되시고 중복으로 충전신청을 하시는 고객님들이 다수 발생되고 있습니다. 
                        <br>실수가 아닌 고의로 판단되는 고객님께는 경고 후 불이익이 발생할수 있으니 충전업무에 영향을 끼칠수 있는 행위는 다른고객님에게 피해를 줄수있기에 삼가해 주시기 바랍니다. 
                        <br>*충전 후 정당한 사유없이 환전은 불가능 하오니 입금시 주의를 바랍니다. 
                        <br>
                        <br> <b>환전</b> 
                        <br>* 저희 본사는 1일 최대 환전금액은 1500만원이며 1회 500만원까지 환전이 가능하십니다.
                        <br>1일 최대 3회까지 환전이 가능하시니 신중한 환전신청 부탁드립니다.
                        <br>*저희 본사 규정상 충전금액의 300%의 게임 배팅 진행후 환전가능합니다.
                        <br>*충전 후 정당한 사유없이 환전은 불가능 하오니 입금시 주의를 바랍니다.
                        <br>
                        <br>
                        <br>
                         <h3>블랙유저</h3>  <a name="blackuser"></a> 최근 일부 회원님들의 충/환전 규정 및 채팅규정 위반으로 정상적으로 이용하고 계시는 
                         회원님들 및 원할한 운영에 피해를 준다 판단하여 이용정지대상에 대한 안내를 드리겠습니다. 필히 숙지하시고 이용부탁드리겠습니다. 
                        <br>1. 선충전신청 후 입금행위 [ 1회시 입금시간 확인 후 정상처리 / 2회시 이용정지 7일 / 3회시 블럭처리 ] 
                        <br>※ 블럭처리시 사이트 접속자체가 불가하오니 참고바랍니다. 
                        <br>2. 허위충전 및 장난으로 충전하는 행위 [ 1회시 보류된 내역해제 / 2회시 이용정지 7일 / 3회시 블럭처리 ] 
                        <br>3. 타인명의로 입금 후 충전신청 [ 확인 후 입금된계좌로 환전처리 후 블럭처리] 
                        <br>4. 해킹 및 오류관련 허위문의 [ 즉시 블럭처리 ] 
                        <br>※ 기술팀 확인후 오류로 확인시 자동으로 보상처리 되며 악용하여 계속된 허위문의시 보유머니 몰수 및 즉시 블럭처리 
                        <br>5. 채팅창 규정위반시 [ 1회 이용정지 7일 / 2회 이용정지 14일 / 3회 블럭처리 ] 
                        <br>※ 회사계좌 노출 및 언급 / 지나친 욕설 / 코드홍보 및 타사이트홍보 / 허위사실 유포 
                        <br>6. 중복가입 및 아이디 대여행위 [ 확인즉시 블럭처리 ] 
                        <br>※ 의심되는 아이디는 운영팀 모니터링 후 기술팀에 요청하면 확인 가능하오니 주의 부탁드리겠습니다. 
                        <br>7. 지정계좌 외 다른 회사계좌 입금시 [ 확인즉시 환전처리 후 이용정지처리 ] 
                        <br>※ 반드시 본인 계좌보기에 명시되어있는 계좌로 입금 후 이용바랍니다. 
                        <br>8.회원가입시 기재해주신 개인정보를 허위로 작성하여 가입하신분 [ 확인즉시 블럭처리 ] 
                        <br>※환전시 타명의 연락처 / 계좌로 확인될시 이유불문 몰수처리후 영구정지 되십니다. 
                        <br>
                        <br>
                        <br>
                         <h3>사칭사이트</h3>  <a name="fakesite"></a> 최근, 여러분의 계정 정보를 무단으로 수집하기 위한 <span id="site"></span> Graph 사칭 사이트에 대한
                        주의를 당부 드리고자 합니다.
                        <br>일반적으로 이러한 사칭 사이트들은 <span id="site"></span> Graph 로고 및 웹 구성 이미지를 이용해, 마치 <span id="site"></span> Graph 이 공식적으로 제공하는 사이트처럼
                        위장하여 이용자의 계정명과 비밀번호 정보를 도용하려는 시도를 하고 있으므로 회원님들의 세심한 주의가 필요합니다.
                        <br><span id="site"></span> Graph는 여러분의 소중한 계정을 이러한 유해 사이트들로부터 보호하고자, 유사 사이트 차단을 위해 최선의 노력을 다하고
                        있습니다.
                        <br>만약 이러한 사칭 사이트 혹은 이메일을 발견하시는 경우, 1:1 문의를 통해 자세한 내용을 알려주시길 부탁 드립니다.
                        <br>또한 위에서 안내해 드린 내용을 유념하셔서 계정 도용으로 인한 피해를 사전에 예방하시기를 당부 드립니다.
                        <br>그리고 공공장소 및 pc방등 여러사람이있는곳에선 접속을 자제해주시길 바라며, 지인분들과 어울려 (술자리 및 공공장소 등)에서
                        배팅 및 배팅에 관한 대화하시는것은 자제바랍니다.
                        <br>또 스마트폰으로 주로 이용하시는 회원님들께서는 사용 이후 항상 쿠키 및 캐시 삭제 바랍니다.
                        <br>삭제방법은 다음과 같습니다.
                        <br>
                        <br>안드로이드 : ( 인터넷 -&gt; 메뉴 -&gt; 설정 -&gt; 고급설정 -&gt; 개인정보보호 -&gt; 개인정보삭제 -&gt; 모두선택 -&gt; 확인)
                        <br>버전에따라서 인터넷 -&gt; 메뉴 - &gt; 설정 -&gt; 쿠키,캐시,기록 따로따로 표기되어있기도합니다.
                        <br>아이폰 : ( 환경설정 -&gt; safari -&gt; 방문기록 및 웹사이트 데이터지우기)
                        <br>
                        <br>위의 방법으로 귀찮으시더라도 되도록 이용후엔 필히 삭제 바랍니다.
                        <br>아시다시피 보안은 저희만 주의한다고 해서 이루어지는 일이 아닙니다.
                        <br>회원님들 개개인이 도와주셔야 저희 <span id="site"></span> Graph 또한 서로 장수 할수있습니다.
                        <br>특히나 요즘같이 유사사이트 들이 우후죽순 늘어나는 시기에 저희가 회사통장관리에 한층더 신경쓰고 보안에 유의하는만큼 회원님들도
                        통장사용을 분류해서 이용부탁드리며, 잦은 충,환전을 하셨던분들이나 한계좌를 오래 사용하신분들은 필히 이번기회에 계좌변경하시길바랍니다.
                        <br>
                        <br>
                        <br>
                         <h3>총판모집</h3>  <a name="beagent"></a> 24시간 문의가능
                        <br>고객센터로 문의주세요.
                        <br>
                    </div> <a class="border-button dark right" href="#">맨위로</a>
                </div>
#}}
{{#def.include('./template/main_new')}}