{{##def.page_title = 'The Social Bitcoin Gambling Game' #}}

{{##def.content:
    <div class="index">

        <div class="grid">
            <div class="col-1-1">
                <h2 class="title">부스타빗 소셜그래프 게임 bustabit ssum에 오신것을 환영합니다
                    <br>영국 정식 부스타빗 해쉬값과 동일한 결과를 제공합니다</h2>
            </div>

            <div class="play-btn-col col-1-1">
                <div class="play-btn-cont">
                    <a href="/play" class="play">
                        Play Now!
                    </a>
                    <br>
                </div>
            </div>
        </div>

        <div class="features grid">

            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/dart.png" alt=""/>
                </div>
                <h4>99% Luck<br />&nbsp;1% Skill</h4>
                <p class="text">
                    실시간 소셜 게임  <br>
                    
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/chart.png" alt=""/>
                </div>
                <h4>Real Time</h4>
                <p class="text">
                지금 이순간<br> 행운을 시험해보세요
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/secure.png" alt=""/>
                </div>
                <h4>Secure</h4>
                <p class="text">
                    사용자의 정보는 <br>안전하게 보호됩니다.<br>
                </p>
            </div>
            <div class="feature col-3-12">
                <div>
                    <img src="img/icons/multiplayer.png" alt=""/>
                </div>
                <h4>Social</h4>
                <p class="text">
                    친구들과 함께<br />
                    간단히 즐길 수 있습니다
                </p>
            </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <h5 class="faucet"><b>적당한 코인으로 친구들과 함께 시작해보세요</b></h5>
            </div>
        </div>

    </div>
#}}
{{#def.include('./template/main_new')}}

