{{##def.page_title = 'Support' #}}

{{##def.content:
<script type="text/javascript">
    function logout() {
        if (document.getElementById('logout') ) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="my-account" style="width:60%;margin:auto;">

    <div class="settings" >
        <div class="my-account-nav">
            <ul class="menu">
                <li>
                   <a href="/account">내 계정</a>
                </li>
                <li>
                    <a href="/security">보안</a>
                </li>
                <li>
                    <a href="/deposit">충전</a>
                </li>
                <li>
                    <a href="/withdraw">환전</a>
                </li>
                <li>
                    <a href="/note">쪽지</a>
                </li>
                <li>
                    <a href="/support">고객센터</a>
                </li>
                <li>
                    <a onclick="logout();">
                        로그아웃
                    </a>
                </li>
            </ul>
        </div>
        <div class="my-account-content">
            <div><h5>쪽지<a class="border-button right green" href="/note/confirm">확인완료</a></h5></div>
                <hr>
                <div class="alert alert-success"> </div>
                <table>
                        <thead>
                            <tr>
                                <td style="text-align: center;">내용</td>
                            </tr>
                        </thead>
                        <tbody><tr><th colspan="3" style="height:1px;background-color:#949494;text-align: center;padding:0px"></tr>
                                <tr><th colspan="3" style="height:1px;background-color:#949494;text-align: center;padding:0px"></tr>
                            {{~it.user.notes :note:index}}
                            
                                <tr>
                                    <td style="text-align: left;background:#f3f3f3;">{{=note.content}}</td>
                                </tr>
                                <tr><th colspan="3" style="height:1px;background-color:#949494;text-align: center;padding:0px"></tr>
                                <tr><th colspan="3" style="height:1px;background-color:#949494;text-align: center;padding:0px"></tr>
                            {{~}}
                        </tbody>
                    </table>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main_new')}}